@import "../master/sass/custom.css";

.shop .products .product .comingsoon { position: absolute; background-image: none; right: 0; left: auto; top: -15px; text-shadow: 1px 1px #000000; padding: 0 20px 0 20px; height: 40px; line-height: 40px; display: inline-block; text-align: center; z-index: 10; box-shadow: none; font-size: 1em; color: #FFF; border-bottom: 2px solid transparent; font-weight: bold; box-shadow: -4px 4px 20px black; }
.stroke { -webkit-text-stroke: .5px black; -webkit-text-fill-color: white; }
.lightbackground { background: rgb(144, 144, 144) !important; }
.drip-content .drip-scroll {overflow-y: scroll!important; max-height: -webkit-calc(80vh - 139px)!important; max-height: calc(80vh - 139px)!important; }

html .progress-bar-primary {
    background-color: #ae1f25;
}
