/*-- SASS output (from sass/custom-compiled.scss) --*/
html { font-size: 100%; }

body { font-family: "Roboto", sans-serif; font-size: 1rem; min-width: 380px; }

html.boxed .body { min-width: 380px; }

p a { color: #ae2025; }

p a:hover { color: #ee2d2b; }

a[href="#"] { cursor: default; }

body, h2, h3, h4, h5, h6, p { color: #000000; }

img { image-rendering: -webkit-optimize-contrast; }

h1, h2, h3, h4, h5, h6 { font-family: "Archivo Black", sans-serif; text-transform: none; letter-spacing: normal; font-weight: 500 !important; }

h1, h1.text-8 { color: #ae2025; font-size: 1.7rem; line-height: 2rem !important; }

@media (min-width: 576px) { h1, h1.text-8 { font-size: 1.875rem; } }

h2, h2.text-6 { font-size: 1.418rem !important; line-height: 1.7rem; }

@media (min-width: 576px) { h2, h2.text-6 { font-size: 1.563rem !important; } }

h3 { font-size: 1.191rem; line-height: 1.4rem; }

@media (min-width: 576px) { h3 { font-size: 1.313rem; } }

h4 { font-size: 1.02rem; line-height: 1.2rem; }

@media (min-width: 576px) { h4 { font-size: 1.125rem; } }

a:hover { text-decoration: none; }

html .bg-color-primary, html .bg-primary { background-color: #ae2025 !important; }

html .text-color-dark, html .text-dark { color: #000000 !important; }

.btn { text-transform: uppercase; }

.font-weight-bold { font-weight: 500 !important; }

a.cc-card { display: block; }

.cc-masthead h1 { font-size: 1.6rem; line-height: 1.7rem !important; }

@media (min-width: 576px) { .cc-masthead h1 { font-size: 1.7rem; line-height: 1.8rem !important; margin-left: 0; margin-top: 0; } }

@media (min-width: 768px) { .cc-masthead h1 { font-size: 2rem; line-height: 2.1rem !important; margin-left: -15rem; margin-top: 0; } }

@media (min-width: 992px) { .cc-masthead h1 { font-size: 2.3rem; line-height: 2.4rem !important; margin-left: -17rem; margin-top: 4rem; } }

@media (min-width: 1200px) { .cc-masthead h1 { font-size: 2.6em; line-height: 2.8rem !important; margin-left: -22rem; margin-top: 5rem; } }

.cc-masthead h1 .word-rotator-words { margin-top: 0.65rem; font-size: 1.7rem; line-height: 1.9rem !important; }

@media (min-width: 576px) { .cc-masthead h1 .word-rotator-words { margin-top: 0.7rem; font-size: 1.9rem; line-height: 2rem !important; } }

@media (min-width: 768px) { .cc-masthead h1 .word-rotator-words { margin-top: 0.85rem; font-size: 2.15rem; line-height: 2.25rem !important; } }

@media (min-width: 992px) { .cc-masthead h1 .word-rotator-words { margin-top: 1rem; font-size: 2.5rem; line-height: 2.6rem !important; } }

@media (min-width: 1200px) { .cc-masthead h1 .word-rotator-words { margin-top: 1.15rem; font-size: 2.9rem; line-height: 3.1rem !important; } }

.cc-masthead h1 .cc-last-line { display: block; margin-top: -0.7rem; }

@media (min-width: 576px) { .cc-masthead h1 .cc-last-line { margin-top: -0.75rem; } }

@media (min-width: 768px) { .cc-masthead h1 .cc-last-line { margin-top: -0.8rem; } }

@media (min-width: 992px) { .cc-masthead h1 .cc-last-line { margin-top: -0.95rem; } }

@media (min-width: 1200px) { .cc-masthead h1 .cc-last-line { margin-top: -1.1rem; } }

.cc-masthead-secondary-container { margin-bottom: 40px; }

.cc-masthead-secondary-container .cc-card { border: #ffffff 1px solid; -webkit-transition: border 0.5s ease; transition: border 0.5s ease; padding-bottom: 30px; }

@media (min-width: 768px) { .cc-masthead-secondary-container .cc-card:first-of-type { border-right: #e1e1e1 1px solid; } }

.cc-masthead-secondary-container .cc-card:hover, .cc-masthead-secondary-container .cc-card:active { border: #e1e1e1 1px solid; }

.cc-masthead-secondary-container .cc-card:hover .cc-nested-text-link, .cc-masthead-secondary-container .cc-card:active .cc-nested-text-link { color: #ae2025; }

@media (min-width: 768px) { .cc-masthead-secondary-container .cc-card:last-of-type:hover, .cc-masthead-secondary-container .cc-card:last-of-type:active { border-left: #ffffff 1px solid; } }

.cc-masthead-secondary-container .cc-card .cc-nested-text-link { font-weight: 900; -webkit-transition: color 0.5s ease; transition: color 0.5s ease; }

.cc-masthead-secondary-container h3 { margin-bottom: 12px; }

.cc-masthead-image-col { min-height: 220px; }

@media (min-width: 576px) { .cc-masthead-image-col { min-height: 250px; } }

@media (min-width: 768px) { .cc-masthead-image-col { min-height: 200px; } }

@media (min-width: 992px) { .cc-masthead-image-col { min-height: 300px; } }

.cc-masthead-image-col img { margin: 0; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.cc-masthead-image-col img.cc-scale-90 { width: 90%; margin-left: 10px; }

.cc-full-width { margin: 0; padding: 0; max-width: 100%; }

.cc-masthead-secondary-page .cc-masthead-col-img-bg-gradient { background: #efefef; background: linear-gradient(60deg, #efefef 0%, white 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#efefef",endColorstr="#ffffff",GradientType=1); }

.cc-masthead-secondary-page .cc-masthead-col-img-bg-gradient img { display: inline-block; }

@media only screen and (max-width: 1030px) { .cc-masthead-secondary-page .cc-masthead-col-img-bg-gradient img { width: 96%; margin: 0 2%; } }

.cc-masthead-secondary-page .cc-masthead-col-img-bg-gradient img.cc-masthead-img-sm { width: 65%; margin: 0 22.5%; }

@media (min-width: 576px) { .cc-masthead-secondary-page .cc-masthead-col-img-bg-gradient img.cc-masthead-img-sm { width: 61%; margin: 0 19.5%; } }

@media (min-width: 768px) { .cc-masthead-secondary-page .cc-masthead-col-img-bg-gradient img.cc-masthead-img-sm { width: 60%; margin: 0 20%; } }

@media (min-width: 992px) { .cc-masthead-secondary-page .cc-masthead-col-img-bg-gradient img.cc-masthead-img-sm { width: 56%; margin: 0 22%; } }

@media (min-width: 1200px) { .cc-masthead-secondary-page .cc-masthead-col-img-bg-gradient img.cc-masthead-img-sm { width: unset; } }

.cc-masthead-secondary-page .cc-masthead-col-brand { background-color: #000000; }

.cc-masthead-secondary-page .cc-masthead-col-brand svg { width: 90%; margin-left: 6%; }

@media (min-width: 576px) { .cc-masthead-secondary-page .cc-masthead-col-brand svg { width: 85%; margin-left: 9%; } }

@media (min-width: 1200px) { .cc-masthead-secondary-page .cc-masthead-col-brand svg { width: 80%; margin-left: 12%; } }

.home-intro p { font-size: 1.6rem; }

.home-intro .learn-more { font-weight: 400; }

.home-intro .second-statement { margin-top: 0.5rem; }

.home-concept .sun, .home-concept .cloud { display: none; }

.highlighted-word, .alternative-font { font-family: "Permanent Marker", sans-serif; color: #ae2025; }

.alternative-font { color: #ae2025; }

.bg-primary .highlighted-word { color: #ffffff; }

.home-intro p span:not(.highlighted-word) { font-size: 0.9em; font-weight: 400; opacity: 1; }

.lead { font-weight: 600; }

.home-intro p .highlighted-word { font-size: 1.2em; }

.home-concept strong { font-family: "Permanent Marker", sans-serif; }

@media (max-width: 767px) { .owl-carousel .owl-stage .owl-item img { width: 150px; margin: 0 auto; } }

.accordion.accordion-modern .card .card-header { background-color: #f8f8f8; }

.section-footer .owl-carousel.dots-title .owl-dots { left: 166px; }

@media (min-width: 576px) { .section-footer .owl-carousel.dots-title .owl-dots { left: 176px; } }

.section-footer .owl-carousel.dots-title.dots-title-pos-2 .owl-dots { left: 185px; }

@media (min-width: 576px) { .section-footer .owl-carousel.dots-title.dots-title-pos-2 .owl-dots { left: 195px; } }

.cc-product-chiclet { font-size: 23px; background-image: none; height: 30px; line-height: 30px; padding: 1px 7.5px; display: inline-block; position: absolute; top: 0 !important; z-index: 10; -webkit-box-shadow: none; box-shadow: none; color: #ffffff; background: #000000; font-weight: bold; text-transform: uppercase; }

.cc-product-chiclet.cc-eol, .cc-product-chiclet.cc-discontinued { font-style: italic !important; }

.cc-product-chiclet.cc-new, .cc-product-chiclet.cc-pre-order, .cc-product-chiclet.cc-coming-soon { background: #28a745; }

.cc-product-chiclet.cc-sale { background: #ee2d2b; }

@media (min-width: 576px) { .cc-product-chiclet { font-size: 1rem; height: 25px; line-height: 25px; top: 25px; padding: 0 5px; } }

.thumb-info .thumb-info-title { background: rgba(33, 37, 41, 0.4); letter-spacing: normal; font-size: 23px; width: 100%; bottom: -4%; }

@media (min-width: 576px) { .thumb-info .thumb-info-title { font-size: 17px; } }

@media (min-width: 768px) { .thumb-info .thumb-info-title { font-size: 23px; } }

@media (min-width: 992px) { .thumb-info .thumb-info-title { font-size: 14px; } }

@media (min-width: 1200px) { .thumb-info .thumb-info-title { font-size: 18px; } }

.thumb-info .thumb-info-type { margin: 0 0 -2px -10px; width: 65%; border-radius: unset; }

@media (min-width: 576px) { .thumb-info .thumb-info-type { width: 80%; } }

@media (min-width: 768px) { .thumb-info .thumb-info-type { width: 82%; } }

@media (min-width: 992px) { .thumb-info .thumb-info-type { width: 90%; } }

@media (max-width: 767px) { .isotope-item.product { text-align: left; } }

.cc-row-code-alliance-partners img { width: 150px; }

.cc-row-code-alliance-partners .cc-logo-code-alliance { width: 150px; }

@media (min-width: 992px) { .cc-row-code-alliance-partners .cc-logo-code-alliance { width: 300px; } }

.image-style-side { width: 65%; margin: 7px 16%; }

@media only screen and (min-width: 400px) { .image-style-side { width: 61%; margin: 7px 17%; } }

@media only screen and (min-width: 420px) { .image-style-side { width: 58%; margin: 7px 19%; } }

@media only screen and (min-width: 440px) { .image-style-side { width: 56%; margin: 7px 21%; } }

@media only screen and (min-width: 460px) { .image-style-side { width: 52%; margin: 7px 23%; } }

@media only screen and (min-width: 480px) { .image-style-side { width: 50%; margin: 7px 24%; } }

@media only screen and (min-width: 500px) { .image-style-side { float: right; width: 40%; margin: 7px 12px; margin-right: 0; } }

@media only screen and (min-width: 540px) { .image-style-side { width: unset; } }

#footer .footer-ribbon span { font-family: "Permanent Marker", sans-serif; }

#footer p { color: #ffffff; }

#footer a:not(.btn) { color: #e1e1e1; }

/*-- END SASS output (from sass/custom-compiled.scss) --*/

.shop .products .product .comingsoon { position: absolute; background-image: none; right: 0; left: auto; top: -15px; text-shadow: 1px 1px #000000; padding: 0 20px 0 20px; height: 40px; line-height: 40px; display: inline-block; text-align: center; z-index: 10; box-shadow: none; font-size: 1em; color: #FFF; border-bottom: 2px solid transparent; font-weight: bold; box-shadow: -4px 4px 20px black; }
.stroke { -webkit-text-stroke: .5px black; -webkit-text-fill-color: white; }

.drip-content .drip-scroll { overflow-y: scroll !important; max-height: -webkit-calc(80vh - 139px) !important; max-height: calc(80vh - 139px) !important; }
html .progress-bar-primary { background-color: #ae1f25; }

.thumb-info {display: block; position: relative; text-decoration: none; max-width: 100%; background-color: #FFF; border-radius: 4px; overflow: visible; -webkit-backface-visibility: hidden; backface-visibility: hidden; transform: translate3d(0, 0, 0); }
.thumb-info .thumb-info-wrapper {-webkit-backface-visibility: hidden; backface-visibility: hidden; transform: translate3d(0, 0, 0); border-radius: 4px; margin: 0; overflow: initial!important; display: block; position: relative; }
p .alternative-font { letter-spacing:normal; }
span.thumb-info-inner { color:rgb(255, 255, 255, 1)!important }
span.ct-active>span:nth-child(1){ color:rgb(255, 255, 255, 1)!important }
.btn-modern {text-transform: uppercase; font-size: .8em; padding: 12.8px 24px; padding: 0.8rem 1.5rem!important; font-weight: 600!important; }
.onsale {background-color: #0088CC; border-bottom-color: #006da3; }
.post-content { word-wrap: break-word;}
