/* Add all your CSS customizations here*/
@import "config/custom-variables";
html {
    font-size: 100%;
}
body {
    font-family: $cc-font-body;
    font-size: $cc-body-font-size;
    min-width: 380px;
}
h1, 
h2, 
h3,
h4,
h5,
h6 {
    font-family: $cc-font-headings;
    text-transform: none;
}
h2, 
h3,
h4,
h5,
h6,
p {
    color: $cc-color-font-default;
}
h1 {
    color: $cc-color-code-red;
    font-size: $cc-font-size-h1-sm;
    line-height: $cc-line-height-h1-sm !important;
    @media only screen and (max-width: $cc-breakpoint-sm) {
        font-size: $cc-font-size-h1-xs;
    }
}
h2 {
    font-size: $cc-font-size-h2-sm;
    line-height: $cc-line-height-h2-sm;
    @media only screen and (max-width: $cc-breakpoint-sm) {
        font-size: $cc-font-size-h2-xs;
    }
}
h3 {
    font-size: $cc-font-size-h3-sm;
    line-height: $cc-line-height-h3-sm;
    @media only screen and (max-width: $cc-breakpoint-sm) {
        font-size: $cc-font-size-h3-xs;
    }
}
h4 {
    font-size: $cc-font-size-h4-sm;
    line-height: $cc-line-height-h4-sm;
    @media only screen and (max-width: $cc-breakpoint-sm) {
        font-size: $cc-font-size-h4-xs;
    }
}
a:hover {
    text-decoration: none;
}
html .bg-color-primary,
html .bg-primary {
    background-color: $cc-color-primary !important;
}
html .text-color-dark, 
html .text-dark {
    color: $cc-color-pure-black !important;
}
a.cc-card {
    display: block;
}
.cc-masthead {
    h1 {
        font-size: 2.6em;
        line-height: 2.8rem !important;
        margin-left: -22rem;
        margin-top: 5rem;
        @media only screen and (max-width: $cc-breakpoint-xl) {
            font-size: 2.3rem;
            line-height: 2.4rem !important;
            margin-left: -17rem;
            margin-top: 4rem;
        }
        @media only screen and (max-width: $cc-breakpoint-lg) {
            font-size: 2rem;
            line-height: 2.1rem !important;
            margin-left: -15rem;
            margin-top: 0;
        }
        @media only screen and (max-width: $cc-breakpoint-md) {
            font-size: $cc-font-size-h1-xs;
            line-height: $cc-line-height-h1-xs !important;
            margin-left: 0;
            margin-top: 0;
        }
        @media only screen and (max-width: $cc-breakpoint-sm) {
            font-size: 1.6rem;
            line-height: 1.7rem !important;
        }
        .word-rotator-words {
            margin-top: 1.15rem;
            font-size: 2.9rem;
            line-height: 3.1rem;
            @media only screen and (max-width: $cc-breakpoint-xl) {
                margin-top: 1rem;
                font-size: 2.5rem;
                line-height: 2.6rem !important;
            }
            @media only screen and (max-width: $cc-breakpoint-lg) {
                margin-top: 0.85rem;
                font-size: 2.15rem;
                line-height: 2.25rem !important;
            }
            @media only screen and (max-width: $cc-breakpoint-md) {
                margin-top: 0.7rem;
                font-size: 1.9rem;
                line-height: 2rem !important;
            }
            @media only screen and (max-width: $cc-breakpoint-sm) {
                margin-top: 0.65rem;
                font-size: 1.7rem;
                line-height: 1.8rem !important;
            }
        }
        .cc-last-line {
            display: block;
            margin-top: -1rem;
            @media only screen and (max-width: $cc-breakpoint-lg) {
                margin-top: -0.85rem;
            }
            @media only screen and (max-width: $cc-breakpoint-md) {
                margin-top: -0.7rem;
            }
        }
    }
}
.cc-masthead-secondary-container {
    margin-bottom: 40px;
    .cc-card {
        border: $cc-color-pure-white 1px solid;
        transition: border 0.5s ease;
        padding-bottom: 30px;
        &:first-of-type {
            border-right: $cc-color-mercury-gray 1px solid;
            @media only screen and (max-width: 767px) {
                border-right: $cc-color-pure-white 1px solid;
            }
        }
        &:hover,
        &:active {
            border: $cc-color-mercury-gray 1px solid;
        }
        &:hover .cc-nested-text-link,
        &:active .cc-nested-text-link {
            color: $cc-color-code-red;
        }
        &:last-of-type:hover,
        &:last-of-type:active {
            @media only screen and (min-width: 768px) {
                border-left: $cc-color-pure-white 1px solid;
            }
        }
        .cc-nested-text-link {
            font-weight: $font-weight-black;
            transition: color 0.5s ease;
        }
    }
    h3 {
        margin-bottom: 12px;
    }
}
.cc-masthead-image-col {
    min-height: 300px;
    @media only screen and (max-width: $cc-breakpoint-lg) {
        min-height: 200px;
    }
    @media only screen and (max-width: $cc-breakpoint-sm) {
        min-height: 250px;
    }
    @media only screen and (max-width: 400px) {
        min-height: 220px;
    }
    img {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    img.cc-scale-90 {
        width: 90%;
        margin-left: 10px;
    }
}
.home-intro {
    p {
        font-size: 1.6rem;
    }
    .learn-more {
        font-weight: $font-weight-regular;
    }
    .second-statement {
        margin-top: 0.5rem;
    }
}
.highlighted-word {
    font-family: $cc-font-accent;
}
.home-intro p span:not(.highlighted-word) {
    font-size: 0.9em;
    font-weight: $font-weight-regular;
    opacity: 1;
}
.lead {
    font-weight: $font-weight-semi-bold;
}
.home-intro p .highlighted-word {
    font-size: 1.2em;
}
.home-concept strong {
    font-family: $cc-font-accent;
}
.owl-carousel .owl-stage .owl-item img {
    @media only screen and (max-width: $cc-breakpoint-md) {
        width: 150px;
        margin: 0 auto;
    }
    @media only screen and (max-width: $cc-breakpoint-sm) {
        width: 150px;
        margin: 0 auto;
    }
}
/*.comingsoon {
    position: absolute;
	background-image: none;
	right: 0;
	left: auto;
	top: -15px;
	text-shadow: none;
	padding: 0 20px 0 20px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	text-align: center;
	z-index: 10;
	box-shadow: none;
	font-size: 1em;
	color: #FFF;
    border-bottom: 2px solid transparent;
    font-weight: bold;
    box-shadow: -6px 6px 20px black;
}
.lightbackground {
	background: rgb(144, 144, 144) !important;
}*/
.accordion.accordion-modern .card .card-header {
    background-color: $cc-color-alabaster-gray;
}
#footer {
    .footer-ribbon {
        span {
            font-family: $cc-font-accent;
        }
    }
    p {
        color: $cc-color-font-reverse;
    }
    a:not(.btn) {
        color: $cc-color-font-reverse-link;
    }
}