<div class="header-nav header-nav-line header-nav-top-line header-nav-top-line-with-border order-2 order-lg-1">
    <div class="header-nav-main header-nav-main-square header-nav-main-effect-2 header-nav-main-sub-effect-1">
        <nav class="collapse">
            <ul class="nav nav-pills" id="mainNav">
                <li class="dropdown">
                    <a class="dropdown-item dropdown-toggle active" href="index-code.html">
                        Home
                    </a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-item dropdown-toggle" href="">
                        Products
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" href="./products-4-columns-code.html">Hardware</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="./product-full-width - 2700.html">CR2700</a></li>
                                <li><a class="dropdown-item" href="./product-full-width - 1100.html">CR1100</a></li>
                                <li><a class="dropdown-item" href="./product-full-width - 1500.html">CR1500</a></li>
                                <li><a class="dropdown-item" href="./product-full-width - 950.html">CR950</a></li>
                                <li><a class="dropdown-item" href="feature-headers-overview.html">CR5000</a></li>
                                <li><a class="dropdown-item" href="feature-headers-overview.html">CR2600</a></li>
                                <li><a class="dropdown-item" href="feature-headers-overview.html">CR6000</a></li>
                                <li><a class="dropdown-item" href="feature-headers-overview.html">CR7000 Series</a></li>
                                <li><a class="dropdown-item" href="feature-headers-overview.html">CR8200 Series</a></li>
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item" href="#">Code Accessories</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="">Batteries</a></li>
                                        <li><a class="dropdown-item" href="">Cables</a></li>
                                        <li><a class="dropdown-item" href="">Code XML Stations</a></li>
                                        <li><a class="dropdown-item" href="">Protective Covers</a></li>
                                        <li><a class="dropdown-item" href="">Battery Chargers</a></li>
                                        <li><a class="dropdown-item" href="">Stands &amp; Mounting Brackets</a></li>
                                        <li><a class="dropdown-item" href="">Power Supplies</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item" href="#">Discontinued Products</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="">Readers</a></li>
                                        <li><a class="dropdown-item" href="">Accessories</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" href="#">Software</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item" href="#">CortexDecoder Lite</a>
                                </li>
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item" href="#">CortexDecoder Enterprise</a>
                                </li>
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item" href="#">CortexDecoder Edge</a>
                                </li>
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item" href="#">CortexScan</a>
                                </li>
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item" href="#">CortrexWedge</a>
                                </li>
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item" href="#">CortexID</a>
                                </li>
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item" href="#">Developer SDK</a>
                                </li>
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item" href="#">Discontinued Products</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="">Software</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-item dropdown-toggle" href="#">
                        Industries
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" href="#">Healthcare</a>
                        </li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" href="#">Industrial</a>
                        </li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" href="#">Manufacturing
                            </a>
                        </li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" href="#">Retail</a>
                        </li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" href="#">Software</a>
                        </li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" href="#">Other</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-item dropdown-toggle" href="#">
                        Partners
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" href="#">Code Alliance</a>
                        </li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" href="#">ISV's</a>
                        </li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" href="#">OEM's</a>
                        </li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" href="#">Deal Registration</a>
                        </li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" href="#">Partner Portal</a>
                        </li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" href="#">Liscence Generation</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-item dropdown-toggle" href="#">
                        Support
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" href="{{ route('contact') }}">Contact Us</a>
                        </li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" href="{{ route('about') }}">About Us</a>
                        </li>
                        <!-- <li class="dropdown-submenu">
                            <a class="dropdown-item" href="#">Team</a>
                        </li> -->
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" href="/rma-request.html">RMA Request</a>
                        </li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" href="/config-guides.html">Config Catalog</a>
                        </li>
                        <!-- <li class="dropdown-submenu">
                            <a class="dropdown-item" href="#">Firmware &amp; Software</a>
                        </li> -->
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" href="#">Quick Connect</a>
                        </li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" href="#">Patent Marking</a>
                        </li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" href="/warranty.html">Limited Warranty</a>
                        </li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" href="/warranty-coverage-term.html">Warranty Coverage Terms</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main nav">
        <i class="fas fa-bars"></i>
    </button>
</div>
<div class="header-nav-features header-nav-features-no-border header-nav-features-lg-show-border order-1 order-lg-2">
    <div class="header-nav-feature header-nav-features-search d-inline-flex">
        <a href="#" class="header-nav-features-toggle" data-focus="headerSearch"><i class="fas fa-search header-nav-top-icon"></i></a>
        <div class="header-nav-features-dropdown" id="headerTopSearchDropdown">
            <form role="search" action="page-search-results.html" method="get">
                <div class="simple-search input-group">
                    <input class="form-control text-1" id="headerSearch" name="q" type="search" value="" placeholder="Search...">
                    <span class="input-group-append">
                        <button class="btn" type="submit">
                            <i class="fa fa-search header-nav-top-icon"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>